html {
  font-size: 14px;
  font-family: 'Open Sans';
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 11.85rem 0;
  color: white !important;
  text-shadow:
 -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
   text-align: center;

}

h1 {
  font-family: 'Monoton', cursive;
   text-transform: lowercase;
}

h2 {
  font-weight: bold;
  margin-bottom: 1.42rem;
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 1.42rem;
}

.jumbotron p {
  width: 51.3rem;
  letter-spacing: 0.08rem;
  font-size: 1.5rem;
}
.jumbotron h1 {
  font-size: 7.1rem;
}

button {
  padding: 1.3rem;
  width: 11.4rem;
  margin-top: 2.8rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0,0,0,0.5)
}

button:hover {
  box-shadow: 0 0 12px rgba(0,0,0,0.9)
}

button:active {
  box-shadow: 0 0 0 rgba(0,0,0, 0.5)
}

nav button {
  margin-top: 0;
  width: 3rem;
  height: 3rem;
}

nav {
  background-color: white;
}

.navbar-text {
  margin: 1rem 0;
}

nav img {
  margin: 1rem 0;
}
#hamburger {
  vertical-align: middle;
  padding: 0;
}

.fa-bars {
  font-size: 1.7rem;
  margin-top: 0.5rem;
  color: #777;
}

.image-container {
  opacity: 0.7;
  transition: all 0.5s;
  overflow: hidden;

}

.image-container:hover {
  opacity: 1;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
}

.image-container img:hover {
  transform: scale(1.3, 1.3);
}



a {
  font-size: 1.1rem;
  font-weight: bold;
  color: darkgrey;
  padding: 0 1rem;
}

a.active {
  color: #399bd1;
}

.navbar-brand {
  margin-right: 0;
}

.empty {
  display: block;
}

.col-lg-6 {
  padding: 0;
}

.container {
  padding: 0;
}

#projects {
  margin-bottom: 5.85rem;
}

footer.container-fluid {
  padding: 5.2rem 0;
  background-color: #f3f3f3;
  margin: 0;
}

strong {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1.4rem;
  text-align: center;
}

footer p {
  max-width: 42rem;
  text-align: center;
}

@media only screen AND (max-width: 993px) {
  .project {
    margin-top: 2rem;
  }

  .project.one {
    margin-top: 0;
  }

@media only screen AND (max-width: 900px) {

  div.container {
    width: 35.7rem;
  }

  h2 {
    text-align: center;
  }


}

@media only screen AND (max-width: 768px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }

  .jumbotron p {
    font-size: 1.3rem;
    max-width: 90%;
    line-height: 1.7rem;
  }

  div.container, section.container {
    width: 90%;
    padding:0;
    box-sizing: border-box;
  }

  .project {
    margin-top: 2rem;
  }

  .project.one {
    margin-top: 0;
  }

  #projects {
    width: 100%;
  }

  #project-container {
    width: 90%;
  }

  footer p {
    max-width: 90%;
  }

}
